{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ] 
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}

